.profile-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.btn-profile {
    background: none;
    border: none;
}

.content-dash {
    border: 1px solid rgb(228, 228, 228);
    padding: 30px 20px;
    border-radius: 3px;
}

.btn-continue {
    background: none;
    border: 1px solid rgb(221, 221, 221);
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-join {
    color: white;
    background: none;
    border: none;
    padding: 5px 10px;
    transition: transform 0.3s ease;
}

.btn-join:hover {
    transform: translateY(-2px);
}

.btn-view-all {
    cursor: pointer;
}

.btn-view-all:hover {
    text-decoration: underline;
}

.card-menu {
    width: 200px;
    position: fixed;
    background-color: #3D4450;
    text-align: start;
    font-size: 0.85rem;
    transform: translateX(-100px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.card-menu>div {
    padding: 8px 15px;
    cursor: pointer;
}

.card-menu div:hover {
    background-color: #DCDEDF;
    color: rgb(45, 45, 45);
}