.content-menu {
    background: #F8F9FA;
    border: 1px solid #C2C7D0;
    padding-top: 20px;
}

.menu-option {
    background: none;
    border: none;
    padding: 7px 10px;
    padding-bottom: 10px;
    transform: translateY(1px);
    color: #4f4f4f;
    font-size: 0.95rem;
}

.menu-option:hover {
    color: #1d2228;
}

.menu-active {
    background-color: white;
    border: 1px solid #C2C7D0;
    border-bottom: 1px solid white;
    color: #212428;
}

.btn-test {
    background: linear-gradient(to bottom, #1F2122, #424A51);
    padding: 10px 25px;
    font-size: 0.9rem;
    border: 1px solid rgb(133, 133, 133);
    color: white;
    border-radius: 2px;
}

.btn-submit {
    background: #2D74FF;
    color: white;
    padding: 7px 15px;
    border: 1px solid #5487EA;
    font-size: 0.9rem;
    border-radius: 3px;
}

.item-challenge {
    padding: 20px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-challenge button {
    background: #2D74FF;
    color: white;
    padding: 7px 12px;
    border: 1px solid #5487EA;
    font-size: 0.9rem;
}

.btn-c {
    background: none;
    border: none;
}

.progress-bar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2D74FF;
    color: white;
    font-size: 0.9rem;
}