.link-span {
    cursor: pointer;
}

.link-span a {
    color: black;
    text-decoration: none;
}

.link-span:hover {
    color: #7E69AB;
}

nav {
    border-bottom: 1px solid #dbdbdb;
}

.btn-register {
    padding: 7px 15px;
    background-color: #9B86F5;
    border: none;
    border-radius: 5px;
    color: white;
}

.btn-comenzar {
    background-color: #9B86F5;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
}

.btn-ver-demo {
    border: 1px solid rgb(206, 206, 206);
    padding: 8px 30px;
    border-radius: 5px;
    background: white;
}

.bola {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.verde {
    background-color: #4ADE80;
}

.azul {
    background-color: #60A5FA;
}

.morado {
    background-color: #C38AFA;
}


.code {
    background-color: #F5F3FE;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 0.95rem;
    color: #333;
    font-size: 0.95rem;
    z-index: 1000;
    min-height: 180px;
}

.code::after {
    content: '|';
    animation: blink 1s infinite;
    color: #7E69AB;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.side-1 {
    background-color: #DED7FB;
    height: 70px;
    width: 50px;
    position: absolute;
    top: 70px;
    left: 25px;
    border-radius: 10px;
}

.side-2 {
    background-color: #DED7FB;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 30px;
    right: -30px;
    border-radius: 10px;
}

.card-code {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transform: rotate(1deg);
}

#init {
    padding: 100px 0;
}

.min {
    z-index: -1000;
    background-image: linear-gradient(to bottom, white, #F7F5FF);
}

.item-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.item-2 span {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.icon-2 {
    color: #9B87F5;
    background: #F7F5FF;
    padding: 15px 10px;
    border-radius: 50%;
    font-size: 1.8rem;
}


.benefit {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.benefit>div {
    border: 1px solid rgb(241, 241, 241);
    padding: 20px;
    border-radius: 5px;
}

.benefit i {
    color: #9B87F5;
    background: #F7F5FF;
    padding: 8px 6px;
    border-radius: 50%;
    font-size: 1.2rem;
}

.item-3 {
    box-shadow: 1px 4px 5px #dbdbdb;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.number {
    height: 50px;
    width: 50px;
    display: flex;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: -25px;
    background-color: #9B87F5;
}

.paso-1 {
    background-color: #E4E1FA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
    font-weight: bold;
    color: #C6BDE3;
}

.paso-2 {
    background-image: linear-gradient(to right, #E2DBFB, #D1EFFA);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
    font-weight: bold;
    color: #C6BDE3;
}

.name-letra {
    width: 50px;
    height: 50px;
    background-color: #9068F6;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-3 {
    background-color: white;
    padding: 40px;
    box-shadow: 1px 4px 10px #dbdbdb;
    border-radius: 7px;
}

.link-p {
    cursor: pointer;
}

.title-f {
    color: rgb(213, 213, 213);
}

.link-p:hover {
    color: white;
}



.section-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text-info-2 {
    padding: 0 200px;
}

.section-uso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.text-info-3 {
    padding: 0 300px;
}

.section-test {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.section-last {
    background-color: #F5F2FE;
    padding: 100px 300px;
    margin-top: 100px;
}

.block-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.main-aux {
    padding-left: 50px;
    padding-top: 45px;
}

.info-main-1 {
    display: flex;
    gap: 10px;
}

.btn-toggle {
    display: none;
    font-size: 1.3rem;
    border: none;
    background: none;
    padding: 2px 15px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-active {
    display: none;
}

.section-planes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 720px) {
    .section-planes {
        flex-direction: column;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 70px;
        font-size: 1.1rem;
        left: 0;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid #dbdbdb;
        padding: 30px 0;
        z-index: 999;
    }

    .nav-items.menu-active {
        border: none;
        display: flex !important;
        box-shadow: 0px 2px 2px #dbdbdb;
    }

    .paso-1 {
        display: none;
    }

    .paso-2 {
        display: none;
    }

    .section-footer {
        grid-template-columns: 1fr;
    }

    .btn-toggle {
        display: block;
    }

    #init {
        padding: 50px 0;
    }

    .info-main-1 {
        justify-content: center;
    }

    .main-title {
        text-align: center;
    }

    .main-aux {
        padding: 0;
        margin-top: 30px;
    }

    .side-1 {
        display: none;
    }

    .side-2 {
        display: none;
    }

    .block-btn {
        flex-direction: column;
    }

    .section-last {
        padding: 20px 10px;
    }



    .section-main {
        display: flex;
        flex-direction: column;
    }

    .text-info-2 {
        padding: 0;
    }

    .section-info {
        grid-template-columns: 1fr 1fr;
    }

    .section-uso {
        grid-template-columns: 1fr;
    }

    .section-test {
        grid-template-columns: 1fr;
    }

    .text-info-3 {
        padding: 0;
    }

    .benefit {
        grid-template-columns: 1fr;
    }
}